## Condition 'if'

In [24]:
if "h" in "hello":
    print("Hello")

else: 
    print("NO")   #"else" me kabhi condition nahi lagti

Hello

In [25]:
if "i" in "Nilesh":
    print("Hello")

elif "o" in "Nilesh":     #elif for extra 'n' no of conditions
    print("NIce to meet you")

elif "m" in "Nilesh":
    print("Hey")
else:
    print("Go Home")

Hello

## Nested "if"

In [26]:
if "N" in "Nilesh":
    print("Hello")
    if "z" in "Nilesh":
        print("Welcome")
    else:
        print("Shatrughna sir")
    

elif "o" in "Nilesh":     
    print("NIce to meet you")

elif "m" in "Nilesh":
    print("Hey")
else:
    print("Go Home")

Hello
Shatrughna sir

## test /evaluation 4/10/2024

In [27]:
num = int(input("enter a percentage"))
p= num
if (p>95):
    
    print("A+")

elif (p>90):     
    print("A")

elif (p>80):    
    print("B")
    
elif (p>70):    
    print("C")

elif (p>60):    
    print("D")
else:
    print("F")

enter a percentage 68

D

## another sir method

In [28]:
if p>=95:
    print("A+")
else:
    if p>90:
        print("A")
    else:
        if p>80:
            print("B")
        else:
            if p>70:
                print("C")
            else:
                if p>60:
                    print("D")
                else:
                    print("F")

D

## loops
 #### while loop

In [29]:
i = 1
while i <= 10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [1]:
i = 1
while i <= 10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1
while i <= 100:
    if i%5==0:
        print(i)
    i+=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

# For loop

In [5]:
for i in range (1,101):
    if i%5==0:
        print(i)

1
2
3
4

In [6]:
for i in range (1,50):
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [7]:
for i in range (1,50):
    if i%5==0:
        break
    print(i)

1
2
3
4

In [23]:
for i in range (1,50,3):  # 3 is increment
    if i%3==0:
        continue
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [12]:
for j in range(1,6):
    for i in range(1,6):
        print(i)

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5

In [22]:
for j in range(1,6):
# use tab space
    for i in range(1,6):
        print(i,end="")
    print()

12345
12345
12345
12345
12345

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for j in range(3):
    for i in range(10):
        print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

# functions Date and time

In [4]:
date = int(input())

 5

In [5]:
for i in range(1,11):
    print(date,"*",i,"=",(date*i))
    print("hello",i)

5 * 1 = 5
hello 1
5 * 2 = 10
hello 2
5 * 3 = 15
hello 3
5 * 4 = 20
hello 4
5 * 5 = 25
hello 5
5 * 6 = 30
hello 6
5 * 7 = 35
hello 7
5 * 8 = 40
hello 8
5 * 9 = 45
hello 9
5 * 10 = 50
hello 10

In [14]:
def date(date):   #def ke baad nam dena ki vo hum jyada use nahi karte
    for i in range(1,11):
        print(date,"*",i,"=",(date*i))
        print("hello",i)

In [10]:
date(5.1)

5.1 * 1 = 5.1
hello 1
5.1 * 2 = 10.2
hello 2
5.1 * 3 = 15.299999999999999
hello 3
5.1 * 4 = 20.4
hello 4
5.1 * 5 = 25.5
hello 5
5.1 * 6 = 30.599999999999998
hello 6
5.1 * 7 = 35.699999999999996
hello 7
5.1 * 8 = 40.8
hello 8
5.1 * 9 = 45.9
hello 9
5.1 * 10 = 51.0
hello 10

In [16]:
date((10,20,50))   #use doubble paranthesis for more than one input

(10, 20, 50) * 1 = (10, 20, 50)
hello 1
(10, 20, 50) * 2 = (10, 20, 50, 10, 20, 50)
hello 2
(10, 20, 50) * 3 = (10, 20, 50, 10, 20, 50, 10, 20, 50)
hello 3
(10, 20, 50) * 4 = (10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50)
hello 4
(10, 20, 50) * 5 = (10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50)
hello 5
(10, 20, 50) * 6 = (10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50)
hello 6
(10, 20, 50) * 7 = (10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50)
hello 7
(10, 20, 50) * 8 = (10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50)
hello 8
(10, 20, 50) * 9 = (10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50)
hello 9
(10, 20, 50) * 10 = (10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50, 10, 20, 50)
hello 10

# function

In [31]:
def s(a,b):
    print(a/b)
    return(a+b),(a*b),(a-b)

In [19]:
s

In [22]:
a,b = s(10,20)

In [27]:
add,mult=s(10,20)

0.5

In [28]:
mult

200

In [29]:
a,b,c =40,20,25

In [32]:
s(40,20)    # (40+20),(40*20),(40-20)= (60,800,20)

2.0

(60, 800, 20)

In [36]:
def s(a=30,b=40):
    print(a+b)

In [37]:
s()

70

In [38]:
s(100,250)

350

In [39]:
s(b=500)  # it passed on to main function check 36 line code

530

In [53]:
def s(*a):
    sum=0
    for i in a:
        sum=sum+i
    return sum

In [54]:
#s(10,20) 
    #or
b=s(10,50,22,60,50,80)

In [55]:
b

272

# factorial !

In [59]:
prod = 1
for i in range(1,5):
    prod=prod*i
print(prod)

24

In [68]:
n=5

def z(n):
    if n==0:
        return(1)
    else:
        return n*z(n-1)  # 5*(5-1)

In [69]:
z(n)

120

# fibonnachi series

In [71]:
a=0
b=1
for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

#### think reverse in fibonacchi series another method IMP RECURSIVE FUNCTION

In [72]:
def fib(n):
    if n==1 or n==0:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [77]:
fib(15)

610

#### Lambda function   for small storage function

In [78]:
x= lambda a:a*10

In [79]:
x(10)

100

In [83]:
x= lambda a,b,c: a-b-c

In [84]:
x(10,5,2)

3

In [15]:
li= [[10,20,30,40,50],[20,25,None,60,57]]

In [4]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd

In [9]:
data = pd.Series(li)

In [10]:
data

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [11]:
type(data)

pandas.core.series.Series

In [12]:
data.shape

(5,)

In [16]:
li

[[10, 20, 30, 40, 50], [20, 25, None, 60, 57]]

In [17]:
df=pd.DataFrame(li)

In [18]:
df

    0   1     2   3   4
0  10  20  30.0  40  50
1  20  25   NaN  60  57

In [19]:
df.shape

(2, 5)

In [20]:
type(df)

pandas.core.frame.DataFrame

# read command

In [21]:
data=pd.read_excel(r"C:\Users\DELL\Downloads\Pandas Session 1 Resources 16922586003.xlsx")

In [ ]:
# another method to read file is use \\ or / to read file by python

#to find path right click to file:rightclick: security there you can see file path

In [22]:
data

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-06-27,159.42,2533654.00,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-09-15,117.11,576782.80,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-08-05,524.96,1158502.59,224598.75
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-05-07,6.92,75591.66,19525.82
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-06-02,524.96,3296425.02,639077.50
...,...,...,...,...,...,...,...,...,...
95,Sub_Saharan Africa,Mali,Clothes,Online,M,2011-03-09,35.84,97040.64,65214.72
96,Asia,Malaysia,Fruits,Offline,L,2011-12-28,6.92,58471.11,15103.47
97,Sub_Saharan Africa,Sierra Leone,Vegetables,Offline,C,2016-06-29,90.93,228779.10,93748.05
98,North America,Mexico,Personal Care,Offline,M,2015-08-08,56.67,471336.91,144521.02
99,Sub_Saharan Africa,Mozambique,Household,Offline,L,2012-02-15,502.54,3586605.09,889472.91

In [23]:
pwd  # present working directory

'C:\\Users\\DELL'

In [24]:
cd   #change in directory

C:\Users\DELL

In [25]:
#cd .. to go privious

In [26]:
data.shape

(100, 9)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item_Type       100 non-null    object
 3   Sales_Channel   100 non-null    object
 4   Order_Priority  100 non-null    object
 5   Ship_Date       100 non-null    datetime64[ns]
 6   Unit_Cost       100 non-null    float64
 7   Total_Revenue   100 non-null    float64
 8   Total_Profit    100 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 7.2+ KB

In [29]:
data["Region"]  #to acess one column single[]

0                 Australia and Oceania
1     Central America and the Caribbean
2                                Europe
3                    Sub_Saharan Africa
4                    Sub_Saharan Africa
                    ...
95                   Sub_Saharan Africa
96                                 Asia
97                   Sub_Saharan Africa
98                        North America
99                   Sub_Saharan Africa
Name: Region, Length: 100, dtype: object

In [30]:
data[["Region","Country","Item_Type"]]  #use doubble[[]] to acess more than one column

                               Region                Country        Item_Type
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub_Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub_Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub_Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub_Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub_Saharan Africa             Mozambique        Household

[100 rows x 3 columns]

In [31]:
data.head()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-06-27,159.42,2533654.00,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-09-15,117.11,576782.80,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-08-05,524.96,1158502.59,224598.75
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-05-07,6.92,75591.66,19525.82
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-06-02,524.96,3296425.02,639077.50

In [32]:
data.tail()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
95,Sub_Saharan Africa,Mali,Clothes,Online,M,2011-03-09,35.84,97040.64,65214.72
96,Asia,Malaysia,Fruits,Offline,L,2011-12-28,6.92,58471.11,15103.47
97,Sub_Saharan Africa,Sierra Leone,Vegetables,Offline,C,2016-06-29,90.93,228779.10,93748.05
98,North America,Mexico,Personal Care,Offline,M,2015-08-08,56.67,471336.91,144521.02
99,Sub_Saharan Africa,Mozambique,Household,Offline,L,2012-02-15,502.54,3586605.09,889472.91

# loc (location)

In [35]:
data.loc[[1]]

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-09-15,117.11,576782.8,248406.36

In [40]:
data.loc[[1,2,4]]

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-09-15,117.11,576782.80,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-08-05,524.96,1158502.59,224598.75
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-06-02,524.96,3296425.02,639077.50

In [39]:
data

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-06-27,159.42,2533654.00,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-09-15,117.11,576782.80,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-08-05,524.96,1158502.59,224598.75
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-05-07,6.92,75591.66,19525.82
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-06-02,524.96,3296425.02,639077.50
...,...,...,...,...,...,...,...,...,...
95,Sub_Saharan Africa,Mali,Clothes,Online,M,2011-03-09,35.84,97040.64,65214.72
96,Asia,Malaysia,Fruits,Offline,L,2011-12-28,6.92,58471.11,15103.47
97,Sub_Saharan Africa,Sierra Leone,Vegetables,Offline,C,2016-06-29,90.93,228779.10,93748.05
98,North America,Mexico,Personal Care,Offline,M,2015-08-08,56.67,471336.91,144521.02
99,Sub_Saharan Africa,Mozambique,Household,Offline,L,2012-02-15,502.54,3586605.09,889472.91

# iloc (index location)

In [42]:
data.iloc[2,4]

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
2,Europe,Russia,Office Supplies,Offline,L,2014-08-05,524.96,1158502.59,224598.75
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-06-02,524.96,3296425.02,639077.50

In [43]:
data.iloc[[2,5,7],[4,2,3]]

  Order_Priority        Item_Type Sales_Channel
2              L  Office Supplies       Offline
5              C        Baby Food        Online
7              H       Vegetables        Online